	{:widget('Layout/head', ['key'=>'博客,个人博客,blog','content'=>'陈少俊的个人博客',"title"=>"博客浏览"])}
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		{:widget('Layout/menu', ['name'=>'blog'])}

		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Read My Blog</h2>
				{volist name="blogs" id="v"}
				<div class="row row-bottom-padded-md">
					<h3 class="animate-box" data-animate-effect="fadeInRight" style="padding-left: 10px;">{$key}</h3>
					{volist name="v" id="data"}
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="#" class="blog-img"><img src="{$data.image_url}" class="img-responsive" alt="{$data.article_name}"></a>
							<div class="desc">
								<h3><a href="#">{$data.article_name}</a></h3>
								<span><small>by Admin </small> / <small> {$data.tags} </small> / <small> <i class="icon-comment"></i> {$data.article_click}</small></span>
								<p>{$data.article_time|date='Y-m-d h:i:s',###}</p>
								<a href="{:url('/index/blog/detail', ['id'=>$data.article_id])}" class="lead">Read More <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
					{/volist}
				</div>
				{/volist}
			</div>
		</div>
	</div>

	{include file='common:commonJs' /}
