	{:widget('Layout/head', ['key'=>'博客,个人博客,时光轴','content'=>'记录生活的点点滴滴',"title"=>"时光墙"])}
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		{:widget('Layout/menu', ['name'=>'show'])}

		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">站长需要您的帮助</h2>
				<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<div class="desc">
								<h3><a href="#"><img class="img-responsive" src="/front/images/weixin.png" alt=""></a></h3>
								<span><small>by Admin </small> / <small> {$time|date='Y-m-d h:i:s',###}</small></span>
								<p>拿起您得微信扫一扫！！</p>
							</div>
						</div>
					</div>
				<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<div class="desc">
								<h3><a href="#"><img class="img-responsive" src="/front/images/zhifubao.png" alt=""></a></h3>
								<span><small>by Admin </small> / <small> {$time|date='Y-m-d h:i:s',###}</small></span>
								<p>拿起您得支付宝扫一扫！！</p>
							</div>
						</div>
					</div>
			</div>
		</div>


	{include file='common:commonJs' /}